@import '~bootstrap/scss/bootstrap';

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: black;
}
/* General */
img{
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
ul{
    list-style-type: none;
    padding: 0;
}
.details{
    padding: 10px;
}
/* Utilities */
.w-100{
    width: 100%;
}
.h-100{
    height: 100%;
}